body{
    background-color: rgb(255, 255, 255);
}

/*      Head        */
.title {
    background-color: rgb(51, 51, 51);
    height: 50px;
    margin: auto;
    position: relative;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    color: white;
    align-items: center;
    position: absolute;
    right: 40%;
    left: 40%;
}

.connection {
    font-family: 'Shadows Into Light', cursive;
    padding: 10px;
    color: white;
    position: absolute;
    left: 80%;
}

.connection:hover {
    text-decoration: none;
    color: white;
}

.container {
    margin-top: 20px;
}

.video {
    width: 560px;
    height: 315px;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}

.video-ifr {
    display: block;
    margin: auto;
    width: 560px;
    height: 315px;
}

.input-group {
    width: 50%;
    margin: auto;
    margin-top: 1rem !important;
}

.container-connection {
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.container-left {
    width: 40%;
    margin: auto;
    padding: 10px;
}

.container-right {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.co-sub:hover {
    background-color: #868e96;
    color: white;
    cursor: pointer;
}

.container-center {
    width: 1px;
    border: 1px solid #ced4da;
    border-radius: 1px;
}

.containerLien {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 15px;
}

.containerLien form {
    width: 100%;
}

.containerLien form div {
    display: flex;
    border-bottom: 1px solid #ced4da;
    padding: 5px;
}

.containerLien form div input{
    margin: auto;
    border: none;
}
.second-input {
    width: 70%;
}